site_name: clam
repo_url: https://github.com/cademirch/clam

nav:
  - clam:
    - Home: index.md
    - Why clam?: explanation/why-clam.md
    - Core Concepts: explanation/concepts.md
  - Tutorial:
    - Getting Started: tutorial/01_overview.md
  - How-to Guides:
    - Generate Callable Loci: how-to/generate-callable-loci.md
    - Calculate Statistics: how-to/calculate-statistics.md
    - Collect Depth Data: how-to/collect-depth-data.md
  - Reference:
    - CLI Reference: reference/cli.md
    - Input Formats: reference/input-formats.md
    - Output Formats: reference/output-formats.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - def_list
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

theme:
  name: "material"
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - toc.follow
    - content.action.edit
    - navigation.footer
    - navigation.sections
